{% extends 'main.html' %}

{% block title %}
    Herci | {{ block.super }}
{% endblock %}

{% block content %}
<h1>{{ title|default:"Herci" }}</h1>

<div class="row row-cols-2">
    {% for a in actors %}
    <div class="card">
        <img src="https://placekitten.com/g/200/150" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ a.name }}{% if a.birth_year %}
            &ndash; {{ a.birth_year }}
            {% endif %}</h5>
            <p class="card-text">{{actor.description}}</p>
            <a href="{% url 'actor' a.id %}" class="btn btn-light">Detaily</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}